html
	head
		title Mi primera pagina en Jade
	body
		h1!= hola
		// Comentario
		- var arreglo = [1,2,3,4,5];
		- for (var i = arreglo.length - 1; i >= 0; i--)
			p Hola #{arreglo[i]}
			p.
				Hola haz click #[a(href="#") aqui]